{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}



{% block main %}
    <form action="/create" method="post" enctype = "multipartform-data">

            <div class="col-12 .col-sm-9">
            <input autocomplete="off" autofocus class="form-control" name="song" placeholder="Song Name" type="text" required >
            <!--https://www.jquery-az.com/boots/demo.php?ex=54.0_1 where I learned to put required -->
            <!--asks for song input -->
            <input autocomplete="off" class="form-control" min="1" name="artist" placeholder="Artist" type="text" required>
            <!--asks for artist input -->
            <input autocomplete="off" class="form-control" min="1" name="date" placeholder="YYYY/MM/DD" type="date" required>
           <!--asks for date input and actually shows a calendar that makes it easier to choose a date-->
            <p>

            </p>
            <textarea autocomplete="off" placeholder="Memory" class="form-memory" min="1" name="memory"  type="text" required style="vertical-align: top;"></textarea>
            <!--I made this a text area instead of input in order to allow the user to change the size of the text area so that they can see everything that they have written -->

            </div>
        <br>
        <button class=".btn btn-primary " type="submit">Record</button>
        <!--Sends Record to database and user to timeline-->



{% endblock %}
